// app global css in SCSS form
.background-Primary {
  background-color: var(--brand-primary);
}
.background-Secondary {
  background-color: var(--brand-secondary);
}
.q-tabs {
  background-color: var(--brand-primary);
  color: var(--brand-secondary);
}
.q-table thead {
  background-color: var(--brand-primary);
  color: var(--brand-secondary);
  border: 2px solid;
  border-color: var(--brand-secondary);
  border-collapse: separate;
  margin-bottom: 20px !important;
}
.q-field__control {
  height: 30px;
}
.q-table {
  border: 2px solid;
  border-color: var(--brand-secondary);
  border-collapse: separate;
  margin-bottom: 20px !important;
}
.rowdata td {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.q-field--disabled .q-field__inner {
  cursor: default;
}
